/*************************************
****** colors ******************/
/*************************************
****** _typography ******************/
/*************************************
******** Branding ********************/
/*************************************
****** _borders ******************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:hover, a:active, a:visited {
  color: #000; }

/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */ }

/* no blue border on inputs */
textarea:focus, input:focus {
  outline: 0; }

*:focus {
  outline: 0; }

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  background: white; }

h1 {
  font-size: 2em; }

/* TODO: move to different SASS partial */
.m-hide {
  display: none; }

header {
  height: 100px; }

.primarynav, .primarynav-l2, .primarynav-l3 {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 100px;
  height: 0;
  background: #FFF;
  /* TODO: variables for z-index levels */
  z-index: 100;
  text-align: center; }
  .primarynav li a, .primarynav-l2 li a, .primarynav-l3 li a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #333333;
    text-decoration: none; }

.primarynav-open {
  height: auto;
  border-top: 1px solid #333333; }

.primarynav-l2, .primarynav-l3 {
  display: none; }

.primarynav-l2-open, .primarynav-l3-open {
  display: block;
  height: auto;
  position: absolute;
  top: 0 !important;
  z-index: 1000; }

.primarynav-l3-open {
  z-index: 10000; }

@media (min-width: 700px) {
  .m-hide {
    display: block; }

  .d-hide {
    display: none; }

  .primarynav {
    position: fixed;
    top: 0;
    height: 100px;
    border-top: 0; }
    .primarynav li {
      float: left;
      margin-top: 20px; }
      .primarynav li a {
        text-decoration: none;
        border-bottom: 0; }
    .primarynav li.li-right {
      float: right; }

  .primarynav-tall {
    height: 800px; }

  .primarynav-l2-open {
    display: block;
    height: 500px;
    position: absolute;
    top: 100px !important;
    z-index: 1000; }

  .primarynav-l3 {
    display: block;
    height: auto; }

  .l2-back, .l3-back {
    display: none !important; } }
nav ul li {
  float: left;
  width: 25%;
  border-top: 1px solid #333333;
  border-left: 1px solid #333333;
  border-bottom: 1px solid #333333;
  text-align: center; }
  nav ul li a {
    display: block;
    padding: 15px 0;
    color: #000;
    text-decoration: none;
    font-size: 0.7em; }
  nav ul li a.active {
    color: #957f68;
    background: #333333; }
nav ul li:last-of-type {
  border-right: 1px solid #333333; }

.subnav {
  margin-top: 42px;
  width: 260px;
  height: 100%;
  border-right: 2px solid #333333;
  position: absolute;
  margin-left: -260px;
  /* TODO: add webkit mixin */
  -webkit-transition: margin-left .5s ease-in-out;
  z-index: 10; }
  .subnav li {
    float: left;
    width: 100%;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333; }
    .subnav li a {
      font-size: 1em;
      display: block;
      padding: 15px 0;
      padding-left: 15px;
      color: #000;
      text-decoration: none;
      font-size: 0.8em; }

.subnav-open {
  margin-left: 0; }

.search {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: none; }
  .search input {
    margin: 4%;
    width: 92%;
    padding: 10px; }

.search-open {
  display: block !important; }

@media (min-width: 700px) {
  nav {
    width: 30%; }
    nav ul li {
      float: left;
      width: 100%;
      border-top: 0;
      border-left: 1px solid #333333;
      border-right: 1px solid #333333; }
      nav ul li a {
        font-size: 1em; }
    nav ul li:first-of-type {
      border-top: 1px solid #333333; }
    nav ul li.d-hide-2 {
      border-top: 1px solid #333333; }

  .subnav {
    display: none; }

  .li-a-search {
    display: none; } }
.container {
  width: 90%;
  height: 1300px;
  margin: 0 auto;
  background-size: cover; }

.c1 {
  background: url("../images/imaestri1.png") no-repeat top center; }

.c2 {
  background: url("../images/imaestri2.png") no-repeat top center; }

.signup-bottom {
  width: 90%;
  margin-left: 5%;
  position: fixed;
  bottom: 0;
  padding: 2% 0;
  background: #f2f2f2;
  z-index: 10;
  display: none;
  text-align: center; }
  .signup-bottom input[type="text"] {
    background: transparent;
    width: 280px;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #a3a3a3;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1%;
    margin-bottom: 1%; }
  .signup-bottom select {
    background: transparent;
    width: 280px;
    padding: 16px;
    font-size: 1em;
    line-height: 1;
    border: 1px solid #a3a3a3;
    border-radius: 0;
    -webkit-appearance: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1%;
    margin-bottom: 1%; }

.bottom-show {
  display: block; }

@media (min-width: 700px) {
  .signup-bottom input[type="text"] {
    margin-bottom: 0; }
  .signup-bottom select {
    margin-bottom: 0; }
  .signup-bottom button {
    margin-bottom: 0; } }
.join-btn {
  background: #957f68;
  padding: 15px 40px;
  color: #FFF;
  border: 1px solid #a3a3a3;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1%; }

/*# sourceMappingURL=main.css.map */
