footer {
	position:absolute;
	bottom:0;
	width:100%;
	background:$second-bg-color;

	ul {
		text-align:center;
		padding:0 10%;

		li {
			display:none;

			&.footer-h2 {
				color:$light-grey;
				padding-bottom:15px;
				padding-top:15px;
				display:block;
				border-top:1px solid $light-grey;
				cursor:pointer;
				font-size:1.1em;
			}

			&.footer-first {
				border-top:0;
			}

			&:last-of-type {
				padding-bottom:15px;
			}

			&.footer-show {
				display:block;
			}

			a, a:active, a:visited {
				text-decoration:none;
				color:$light-grey;
				text-transform: capitalize;
				font-size:1em;
				display:block;
				padding:10px;
			}

			a:hover {
				text-decoration:underline;
				color: $gold;
			}
		}

	}



	@media (min-width: 700px) {
		ul {
			padding:25px;
			display:inline-block;
			vertical-align:top;
			padding-right:40px;
			text-align:left;

			li {
				display:block;

				&.footer-h2 {
					padding-top:0;
					border-top:0;
					font-size:1em;
				}

				&:last-of-type {
					padding-bottom:0;
				}

				a {
					font-size:0.9em;
					padding:5px;
				}

			}
		}
	}
}