/* TODO: move to different SASS partial */
.m-hide {
	display:none;
}

.d-hide {
}


header {

	height:100px;

}

.primarynav, .primarynav-l2, .primarynav-l3 { 
	width:100%;
	overflow:hidden;
	position:absolute;
	top:100px;
	height:0;
	background:#FFF;
    /* TODO: variables for z-index levels */
    z-index:100;
    text-align:center;

	li {
		
		a {
			display:block;
			padding:15px;
			border-bottom:1px solid $primary-border-color;
			text-decoration:none;
		}	
	}

}

.primarynav-open {
	height:auto;
	border-top:1px solid $primary-border-color;
}

.primarynav-l2, .primarynav-l3 {
	display:none;
}

.primarynav-l2-open, .primarynav-l3-open {
	display:block;
	height:auto;
	position:absolute;
	top:0 !important;
	z-index:1000;
}

.primarynav-l3-open {
	z-index:10000;
}

@media (min-width: 700px) {

	.m-hide {
		display:block;
	}

	.d-hide {
		display:none;
	}

	.primarynav {
		position:fixed;
		top:0;
		height:100px;
		border-top:0;

		li {
			float:left;
			margin-top:20px;

			a {
				text-decoration:none;
				border-bottom:0;
			}
		}

		li.li-right {
			float:right;
		}

	}

	.primarynav-tall {
		height:800px;
	}

	.primarynav-l2-open {
		display:block;
		height:500px;
		position:absolute;
		top:100px !important;
		z-index:1000;
	}

	.primarynav-l3 {
		display:block;
		height:auto;
	}

	.l2-back, .l3-back {
		display:none !important;
	}



}

