nav {
	
	ul {

		li {
			float:left;
			width:25%;
			border-top:1px solid $primary-border-color;
			border-left:1px solid $primary-border-color;
			border-bottom:1px solid $primary-border-color;
			text-align:center;

			a {
				display:block;
				padding:15px 0;
				color:$dark-grey;
				text-decoration:none;
				font-size:0.7em;
			}

			a:hover, a.active {
				color: $gold;
				background: $dark-grey;
			}
		}

		li:last-of-type {
			border-right:1px solid $primary-border-color;
		}
	}

}


.subnav {
	margin-top:42px;
	width:260px;
	height:100%;
	border-right:2px solid $primary-border-color;
	position:absolute;
    margin-left:-260px;
    @include transition(margin-left, .5s, ease-in-out);
    z-index:10;

	li {
		float:left;
		width:100%;
		border-left:1px solid $primary-border-color;
		border-bottom:1px solid $primary-border-color;

		a {
			font-size:1em;
			display:block;
			padding:15px 0;
			padding-left:15px;
			color:$dark-grey;
			text-decoration:none;
			font-size:0.8em;
		}

		a:hover {
			background:$dark-grey;
			color:$gold;
		}
	}
}

.subnav-open {
	margin-left:0;
}

.search {	
	
	border-left:1px solid $primary-border-color;
	border-right:1px solid $primary-border-color;
	border-bottom:1px solid $primary-border-color;
	display:none;
		
	input {
		margin: 4%;
		width: 92%;
		padding:10px;
	}

}

.search-open {
	display:block !important;
}

//TODO: add mixin for media queries
//@include media(large)

@media (min-width: 700px) {
	nav {

		width:30%;
	
		ul {

			li {
				float:left;
				width:100%;
				border-top:0;
				border-left:1px solid $primary-border-color;
				border-right:1px solid $primary-border-color;

				a {
					font-size:1em;
				}
			}

			li:first-of-type {
				border-top:1px solid $primary-border-color;
			}

			li.d-hide-2 {
				border-top:1px solid $primary-border-color;
			}
		}

	}

	.subnav {
		display:none;
	}

	.li-a-search {
		display:none;
	}
}