.join-btn {
	background: $gold;
	padding:15px 40px;
	color:#FFF;
	border:1px solid $second-border-color;
	cursor:pointer;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:1%;
}