nav {
	
	ul {

		li {
			float:left;
			width:25%;
			border-top:1px solid $primary-border-color;
			border-left:1px solid $primary-border-color;
			border-bottom:1px solid $primary-border-color;
			text-align:center;

			a {
				display:block;
				padding:15px 0;
				color:#000;
				text-decoration:none;
				font-size:0.7em;
			}

			a.active {
				color: $gold;
				background: $dark-grey;
			}
		}

		li:last-of-type {
			border-right:1px solid $primary-border-color;
		}

		li.m-hide {
			display:none;
		}
	}

}


.subnav {
	margin-top:42px;
	width:260px;
	height:100%;
	border-right:2px solid $primary-border-color;
	position:absolute;
    margin-left:-260px;
    /* TODO: add webkit mixin */
    -webkit-transition:margin-left .5s ease-in-out;

	li {
		float:left;
		width:100%;
		border-left:1px solid $primary-border-color;
		border-bottom:1px solid $primary-border-color;

		a {
			font-size:1em;
			display:block;
			padding:15px 0;
			padding-left:15px;
			color:#000;
			text-decoration:none;
			font-size:0.8em;
		}
	}
}

.subnav-open {
	margin-left:0;
}

.search {	
	
	/* TODO: inherit border */
	/* TODO: user variables for colors etc... */
	border-left:1px solid $primary-border-color;
	border-right:1px solid $primary-border-color;
	border-bottom:1px solid $primary-border-color;
	display:none;
		
	input {
		margin: 20px 5%;
		width:90%;
		padding:10px;
	}

}

.search-open {
	display:block !important;
}


@media (min-width: 700px) {
	nav {

		width:30%;
	
		ul {

			li {
				float:left;
				width:100%;
				border-top:0;
				border-left:1px solid $primary-border-color;
				border-right:1px solid $primary-border-color;

				a {
					font-size:1em;
				}
			}

			li:first-of-type {
				border-top:1px solid $primary-border-color;
			}

			li.m-hide {
				display:block;
			}
		}

	}

	.subnav {
		display:none;
	}

	.li-a-search {
		display:none;
	}
}