.pnav, .pnav-l2, .pnav-l3 { 
	width:100%;
	overflow:hidden;
	position:fixed;
	top:100px;
	height:0;
	background:#FFF;
    /* TODO: variables for z-index levels */
    z-index:100;
    text-align:center;

	li {
		
		a {
			display:block;
			padding:15px;
			border-bottom:1px solid $primary-border-color;
			text-decoration:none;
		}
		
	}

}

.pnav-l3 li:last-of-type {
	padding-bottom:500px;
}

.pnav-open {
	/* TODO: Fix fixed heights */
	min-height:600px;
	border-top:1px solid $primary-border-color;
}

.pnav-l2, .pnav-l3 {
	display:none;
}

/** TODO: use inherit for hover a ***/
.l2-back, .l3-back {
	background:$dark-grey;
	color:$gold !important;
}

.pnav-l2-open, .pnav-l3-open {
	display:block;
	height:auto;
	position:absolute;
	top:0 !important;
	z-index:1000;
}

.pnav-l3-open {
	z-index:10000;
}

@media (min-width: 700px) {

	.pnav {
		position:fixed;
		top:0;
		height:100px;
		border-top:0;

		li {
			float:left;

			a {
				text-decoration:none;
				border-bottom:0;
			}
		}

		li.li-right {
			float:right;
		}

	}

	.pnav-li-a {
		margin-top:20px;
	}

	.pnav-tall {
		height:800px;
		border-bottom:2px solid #000;
	}

	.pnav-l2-open {
		display:block;
		max-height:600px;
		overflow-y:scroll;
		position:absolute;
		top:80px !important;
		z-index:1000;
	}

	.pnav-l2 {

		text-align:left;
	}

	.pnav-l2-li {
		width:25%;
	}

	.pnav-l2-li:first-of-type {
		width:0;
	}

	.pnav-l2-li-clear {
		/* TODO: clear clear class and reuse */
		clear:both;
	}

	.pnav-l2-li-a {
		color:$active-txt-color !important;
	}

	.pnav-l3 {
		display:block;
		height:auto;
		text-align:left;
		position:relative;
		top:0;
		margin-left:15px;

		li {
			clear: both;
			display:block;
			width:90%;
			border-right:1px solid $primary-border-color;

			a {
				padding:10px 0;
				font-size:12px;
			}

			a:hover {
				color:$gold;
			}
		}

		li:first-of-type {
			height:0;
		}

		li:last-of-type {
			margin-bottom:20px;
			padding-bottom:0;
		}
	}

	.l2-back, .l3-back {
		display:none !important;
	}
}