.container {
	width:90%;
	height:1300px;
	margin:0 auto;
	background-size:cover;
}

.c1 {
	background:url('../images/imaestri1.png') no-repeat top center;
}

.c2 {
	background:url('../images/imaestri2.png') no-repeat top center;
}


.signup-bottom {
	width:90%;
	margin-left:5%;
	position:fixed;
	bottom:0;
	padding:2% 0;
	background: $middle-grey;
	z-index:10;
	display:none;
	text-align:center;

	input[type="text"] {
		background: transparent;
		width:280px;
		padding: 15px;
		font-size:1em;
		border:1px solid $second-border-color;
		text-transform:uppercase;
		letter-spacing:1px;
		margin-right:1%;
		margin-bottom:1%;
	}

	select {
		background: transparent;
	   	width: 280px;
	   	padding: 16px;
	   	font-size:1em;
	   	line-height: 1;
	   	border:1px solid $second-border-color;
	   	border-radius: 0;
	   	-webkit-appearance: none;
	   	text-transform:uppercase;
		letter-spacing:1px;
		margin-right:1%;
		margin-bottom:1%;
	}

}

.bottom-show {
	display:block
}


@media (min-width: 700px) { 
	.signup-bottom {

		input[type="text"] {
			margin-bottom:0;
		}

		select {
			margin-bottom:0;
		}

		button {
			margin-bottom:0;
		}

	}
}

