/*************************************
****** _typography ******************/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$second-color: #666;
$active-color: #999;


/*************************************
****** _borders ******************/
$border-color: #000;

